/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body {
    font-family: sans-serif;
}
.btn {
    display: inline-block;
    border-style: solid;
    border-width: 1px;
    padding: 7px 15px;
    border-radius: 5px;
    cursor: pointer;
}
.btn-blue {
    background-color: #46adf1;
    border-color: #46adf1;
    color: white;
}
.btn-white {
    background-color: white;
    color: #cfd3d8;
    border-color: #cfd3d8;
}
ul {
    list-style-type: none;
}

/* Header */
header {
    padding: 10px 25px;
}
#logo {
    vertical-align: middle;
}
#brand {
    font-size: 40px;
    font-weight: 800;
    vertical-align: middle;
}

/* Main */
main {
    background-color: #f5f8f9;
    padding-top: 50px;
    padding-bottom: 20px;
}
.main-container {
    background-color: white;
    width: 65%;
    margin: auto;
    border-radius: 5px;
}
.buttons {
    padding: 20px 30px 10px;
    border-bottom: 1px solid #f5f8f9;
}
.todo-list {
    padding: 10px 30px;
}
.todo-list h3 {
    margin-top: 15px;
}
.icon {
    width: 15px;
    height: 15px;
    display: inline-block;
    border-style: solid;
    border-width: 1px;
    border-radius: 50%;
    text-align: center;
    line-height: 15px;
    margin-right: 5px;
}
.checked {
    border-color: #65c1aa;
    color: #65c1aa;
}
.unchecked {
    border-color: #f17e78;
    color: #f17e78;
    font-size: 10px;
}
.sublist li {
    padding: 5px 0;
}